@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.header {
  @apply sticky inset-0 flex justify-between items-center px-10 py-6 bg-black
}

.outlet {
  /* @apply p-10 */
}

.home {
  @apply flex gap-5
}

.home div {
  @apply w-1/2
}
.home .left{
  @apply flex flex-col gap-9 justify-center items-center
}
.home .right{
  @apply flex justify-center items-center
}
.in-demand{
  @apply flex gap-3  items-center w-full !important
}
.in-demand p{
  @apply  py-1 px-3 rounded-full bg-[#0B9240]
}
.cta {
  @apply flex justify-between  p-10 border-t
}
.cta div{
  @apply flex flex-col justify-end
}
.cta div h1 {
  @apply font-bold mb-3
}

.footer {
  @apply flex justify-between items-center border-t mx-8 py-8 pt-8
}

.footer .licensing {
  @apply flex items-center gap-10
}

.footer .socials {
  @apply flex gap-2 text-2xl
}
.message{

  @apply border border-slate-500 !important
}